<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1" />
<title>Insert title here</title>
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css" />
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
<script>
$(document).ready( function () {
    $('#details').DataTable();
} );
</script>
</head>
<body>	
	<table>
		<thead>
			<tr>
				<th>First Name</th> 
				<td th:text="${actor.firstName}"> </td>
			</tr>
			<tr>
				<th>Last Name</th>
				<td th:text="${actor.lastName}"> </td>
			</tr>
		</thead>
	</table>
	<table id="details">
		<thead>
			<tr> 
				<th> Title</th>
				<th> Description </th>
				<th>  </th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="filmActor : ${actor.filmActorList}">
				<td th:text="${filmActor.film.title} "> </td>
				<td th:text="${filmActor.film.description}"> </td>
				<td>
					<a th:href="@{'/film/detail/' + ${filmActor.film.filmId}}">
							Detail</a>
				</td>
			</tr>
		</tbody>
	</table>
	
</body>
</html>